[submodule "autoencoder_metric"]
	path = autoencoder_metric
	url = git@github.com:Trustworthy-Engineered-Autonomy-Lab/autoencoder_metric.git
[submodule "donkeycar_CNN"]
	path = donkeycar_CNN
	url = git@github.com:Trustworthy-Engineered-Autonomy-Lab/Donkeycar_CNN.git
[submodule "CAE_data_clean"]
	path = CAE_data_clean
	url = git@github.com:YangZhou0011/CAE_data_cleaning.git
